.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.view {
    width: 300px;
    height: 230px;
    background-color: rgb(146, 127, 101);
    box-shadow: 0 0 0 1px rgb(177, 133, 133);
    margin: 5px;
    margin-bottom: 25px;
    font-size: 14px;
}