apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-master
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker-master
  template:
    metadata:
      labels:
        app: worker-master
    spec:
      nodeSelector:
        kubernetes.io/hostname: worker-1
      initContainers:
        - name: init-service
          image: busybox:1.28
          command: ['sh', '-c', "until nslookup worker-master.$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace).svc.cluster.local; do echo waiting for init service; sleep 2; done"]
        - name: wait-backend
          image: busybox:1.28
          command: ['sh', '-c', "until nslookup backend-fastapi.$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace).svc.cluster.local; do echo waiting for check backend; sleep 2; done"]
        - name: delete-collection
          image: curlimages/curl:8.5.0
          command: ['sh', '-c', "until curl -X DELETE http://odkhang.ddns.net:8999/vms; do echo waiting for delete vms collection; sleep 2; done"]
        - name: init-master
          image: curlimages/curl:8.5.0
          command: ['sh', '-c', 'curl -X POST http://odkhang.ddns.net:8999/vms -H "accept: application/json" -H "Content-Type: application/json" -d "{\"name\": \"VM_0\", \"ip_address\": \"http://odkhang.ddns.net:9050\", \"proxy\": \"None\", \"group\": \"view\"}"']
      containers:
      - name: worker-container-master
        image: ondinhk/vm-manager-master:latest
        #imagePullPolicy: Always
        ports:
        - containerPort: 6081
        - containerPort: 5000
        - containerPort: 80
        resources:
          requests:
            memory: "256Mi"
            cpu: "0.5"
          limits:
            memory: "2048Mi"
            cpu: "4"
        volumeMounts:
        - mountPath: /dev/shm
          name: dshm
        command: ["/bin/sh"]
        args: ["-c", "/startup.sh & sleep 30 && export DISPLAY=:1 && python /home/ubuntu/code/mouse/master.py & sleep 30 && export DISPLAY=:1 && python /home/ubuntu/code/worker/worker.py"]
        env:
        - name: RESOLUTION
          value: '800x600'
        - name: VM_NAME
          value: 'vm_master'
        - name: MASTER_QUEUE
          value: backend-fastapi.default.svc.cluster.local:6000
      volumes:
      - name: dshm
        emptyDir:
          medium: Memory
---{% for item in list_data %}
# Deployment W{{ loop.index }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-{{ loop.index }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker-{{ loop.index }}
  template:
    metadata:
      labels:
        app: worker-{{ loop.index }}
    spec:
      nodeSelector:
        kubernetes.io/hostname: {{ item['cluster'] }}
      initContainers:
        - name: init-service
          image: busybox:1.28
          command: ['sh', '-c', "until nslookup worker-master.$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace).svc.cluster.local; do echo waiting for init service; sleep 2; done"]
        - name: init-master
          image: curlimages/curl:8.5.0
          command: ['sh', '-c', 'echo \"sleep 10s\" && sleep 10 && curl -X POST http://odkhang.ddns.net:8999/vms -H "accept: application/json" -H "Content-Type: application/json" -d "{\"name\": \"{{ item['vm_name'] }}\", \"ip_address\": \"http://odkhang.ddns.net:{{ item['ddns'] }}\", \"proxy\": \"None\", \"group\": \"{{ item['group'] }}\"}"']
      containers:
      - name: worker-container-{{ loop.index }}
        image: ondinhk/vm-manager-worker:latest
        #imagePullPolicy: Always
        ports:
        - containerPort: 6081
        resources:
          requests:
            memory: "256Mi"
            cpu: "0.5"
          limits:
            memory: "2048Mi"
            cpu: "4"
        volumeMounts:
        - mountPath: /dev/shm
          name: dshm
        command: ["/bin/sh"]
        args: ["-c", "/startup.sh & sleep 30 && export DISPLAY=:1 && python /home/ubuntu/code/mouse/client.py & sleep 30 && export DISPLAY=:1 && python /home/ubuntu/code/worker/worker.py"]
        env:
        - name: RESOLUTION
          value: '800x600'
        - name: VM_NAME
          value: {{ item['vm_name'] | tojson | safe }}
        - name: MASTER_QUEUE
          value: backend-fastapi.default.svc.cluster.local:6000
        - name: MOUSE_QUEUE
          value: worker-master.default.svc.cluster.local:5000
      volumes:
      - name: dshm
        emptyDir:
          medium: Memory
---{% endfor %}
